backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
bleach==2.1.1
bs4==0.0.1
certifi==2017.11.5
configparser==3.5.0
decorator==4.1.2
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
future==0.16.0
html5lib==1.0.1
ipykernel==4.7.0
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
iso8601==0.1.12
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
mechanize==0.3.6
mistune==0.8.1
mkl-fft==1.0.0
mkl-random==1.0.1
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
numpy==1.13.3
OpenGLContext==2.3.0b1
pandocfilters==1.4.2
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
PyDispatcher==2.0.5
pygame==1.9.3
Pygments==2.2.0
PyOpenGL==3.1.1a1
PySide==1.2.1
python-dateutil==2.6.1
PyVRML97==2.3.0b1
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
scandir==1.6
serial==0.0.54
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.8
